.ourvision-wrapper {
  width: 100%;
  color: var(--text-heading);
  background-color: var(--white-primary);
  display: flex;
  justify-content: center;
  height: 67.5rem;
  padding: 4.375rem;
  position: relative;
  z-index: -1;
}

.ourvision-title-text {
  font-weight: 700;
  font-size: 2rem;
}

.ourvision-content-text {
  color: var(--black);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.5rem;
  text-align: center;
}

.ourvision-container {
  width: 111.125rem;
  background-color: var(--background-primary);
  border-radius: 5rem;
  margin-bottom: 3.25rem;
  padding: 5rem 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 114.5625rem;
  position: relative;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .ourvision-container {
    padding: 2.5rem;
    border-radius: 2rem;
  }
}

.svg-wrapper {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  gap: 2.75rem;
}

@media only screen and (max-width: 600px) {
  .ourvision-wrapper {
    height: 100%;
    padding: 4.375rem;
  }

  .ourvision-title-text {
    font-size: 1.5rem;
    text-align: center;
  }
  .ourvision-content-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .ourvision-wrapper {
    padding: 2rem;
  }
  .ourvision-container img {
    height: 10rem;
  }
  .ourvision-container {
    gap: 1rem;
    margin-bottom: 1.25rem;
  }
  .svg-wrapper img {
    height: 5rem;
  }
  .svg-wrapper {
    height: 5rem;
  }
}
